body {
    background-image: url(../images/background-bois.jpg) ;
    text-align: center;
    color: black;
}

main {
    background-image: url(../images/background-papier.jpg); 
    background-size: cover;
    width: 55%;
    box-shadow: 0px 0px 20px 6px black;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Patrick Hand';
    font-size: 1.2em;   
}

a {
    color: inherit;
}

h2,.version-manuscrite {
    font-family: 'Special Elite';
    font-size: 1.3rem;
  
}

.photo {
    background-image: url(../images/laurent-dessin-crayon.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 160px;   
    height: 210px;
    border: 2px solid black;
    margin: 2rem;
    padding: 1rem 0.5rem;
    float: right;
}

section {
    padding: 2rem;
}

.contact-avec-icones {
    display: none;
}

.version-pro {
    display: none;
}

#nom-et-job {
    display: none;
}

#competences {
    display: flex;
    flex-direction: row;
}

#parcours-professionnel {
    display: flex;
    flex-direction: row;
}



/**===========================================*/
/**               Media Queries               */
/**===========================================*/

/* width 1400 --> 1500*/
@media screen and (min-width: 1400px) and (max-width: 1500px) {
    
}

/* width 1330 --> 1399*/
@media screen and (min-width: 1330px) and (max-width: 1399px) {

}

/* width 1101 --> 1329*/
@media screen and (min-width: 1101px) and (max-width: 1329px) {

}

/* width 901 --> 1100*/
@media screen and (min-width: 901px) and (max-width: 1100px) {

}

/* width 601 --> 900*/
@media screen and (min-width: 601px) and (max-width: 900px) {

}

/* width 401 --> 600*/
@media screen and (min-width: 401px) and (max-width: 600px) {

}

/* width 0 --> 400*/
@media screen and (max-width: 400px) {

}









