/**===========================================*/
/**                Site entier                */
/**===========================================*/

body {
    background-image: url(../images/bureau5.jpg) ;
    background-size: cover ;
    text-align: center;
}


/**===========================================*/
/**       Photo de profil effet flipper       */
/**===========================================*/

/*Positionnement et taille de l'élément flipper*/
.flipper {
    background-color: transparent;
    border-radius: 100% ;
    width: 220px;   
    height: 220px;
    margin: 1rem auto 0rem auto;
  }

  /* positionnement de la partie inner de la photo et du QR Code */
  .flipper-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* flip horizontal quand hover */
  .flipper:hover .flipper-inner {
    transform: rotateY(180deg);
  }

  /* Position de la photo et du QR Code */
  .flipper-photo, .flipper-qrcode {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Photo */
  .flipper-photo {
    background-image: url(../images/laurent.png);
    color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100% ;
    border: 4px solid gold;
    background-color: #2F403C;
    background-size: 105%;
  }
  
  /* QR Code */
  .flipper-qrcode {
    background-image: url(../images/qrcode.jpg);
    background-color: #2F403C;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    border-radius: 100% ;
    border: 4px solid gold;
  }

/**===========================================*/
/**                 CV entier                 */
/**===========================================*/

#feuille {
    background-color: #2F403C;
    width: 55%;
    margin: 3rem auto;
    box-shadow: 0px 0px 50px 2px black;
    display: flex;
    flex-direction: row;
    text-align: left;
    font-family: "Calibri",sans-serif;
}

/* main.manuscrit {
    background-image: url(../images/background-papier.jpg);
    width: 55%;
    margin: 3em auto;
    box-shadow: 0px 0px 50px 2px black;
    display: flex;
    flex-direction: row;
    text-align: left;
    font-family: "Calibri",sans-serif;
} */

a {
    color: inherit;
    text-decoration: inherit;
}

.version-manuscrite {
    display: none;
}

section {
    padding: 1rem;
}

/**===========================================*/
/**           Partie de gauche du CV          */
/**===========================================*/

#aside {
    background-color: white;
    height: inherit;
    width: 45%;
    color: #2F403C;
    padding: 1rem;
}

#age {
    font-size: 1.2rem;
}

#aside h2 {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

#aside section {
    padding: 0.9rem;
}

.contact-avec-texte {
    display: none;
}

#aside .lien-reseaux-sociaux:hover  {
    color: rgb(212, 181, 2);
}

.github {
    padding-top: 0.5rem;
}

#nom-mobile {
    display: none;
    size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

#job-mobile {
    display: none;
    size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

/**===========================================*/
/**           Partie de droite du CV          */
/**===========================================*/

#droite-du-cv {
    color: white;
    padding: 1.5rem;
}

#nom-et-job {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid gold;
}

#nom {
    color: gold;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.2rem;
}

#job {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}

#droite-du-cv h2 {
    color: gold;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

#projet {
    padding-top: 2rem;
}

#projet > p {
    padding-bottom: 0.5rem;
    line-height: 1.1rem;
} 

#formation-oclock{
    font-weight: bold;
    text-transform: uppercase;
} 

#programme-formation-oclock {
    font-size: 0.9rem;
}

.periode {
    font-style: italic;
}

.parcours-titre {
    color: gold;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}  

.parcours {
    text-transform: uppercase;
    font-weight: bold;
}

#esprit,#dermeo,#criom,#iee {
    padding-bottom: 0.5rem;
}

#criom {
    padding-bottom: 1rem;
}


/**===========================================*/
/**   Animation liens partie de droite du CV  */
/**===========================================*/

#droite-du-cv a {
    text-decoration: underline;
    display: inline-block;
    position: relative;
}

#droite-du-cv a:hover  {
    color: gold;
    text-decoration: none;
}

#droite-du-cv a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 1px ;
    left: 0;
    background-color: gold;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}
  
#droite-du-cv a:hover:after {
    transform: scaleX(1.05);
    transform-origin: bottom left;
}



/**===========================================*/
/**               Media Queries               */
/**===========================================*/

/* width 1400 --> 1500*/
@media screen and (min-width: 1400px) and (max-width: 1500px) {
    #feuille {
        width: 75%;
    }
}

/* width 1330 --> 1399*/
@media screen and (min-width: 1330px) and (max-width: 1399px) {
    #feuille {
        width: 75%;
    }
    #aside {
        width: 38%;
    }
}

/* width 1101 --> 1329*/
@media screen and (min-width: 1101px) and (max-width: 1329px) {
    #feuille {
        width: 80%;
    }
    #aside {
        width: 55%;
    }
}

/* width 901 --> 1100*/
@media screen and (min-width: 901px) and (max-width: 1100px) {
    #feuille {
        width: 90%;
    }
    .flipper {
        width: 180px;   
        height: 180px;
    }  
    #aside {
        width: 65%;
    }
}

/* width 601 --> 900*/
@media screen and (min-width: 601px) and (max-width: 900px) {
    #feuille {
        width: 97%;
    }
    .flipper {
        width: 165px;   
        height: 165px;
    }  
    #aside {
        width: 100%;
    }
}

/* width 401 --> 600*/
@media screen and (min-width: 401px) and (max-width: 600px) {
    #feuille {
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .flipper {
        width: 110px;   
        height: 110px;
        float: right;
    }  
    #aside {
        width: initial
    }
    #nom-mobile{
        display: inherit;
        font-size: 2em;
    }
    #job-mobile{
        display: initial;
        font-size: 1.2em;
    }
    #nom-et-job {
        display: none;
    }
    #age,#permis {
        font-size: 1em;
    }
}

/* width 0 --> 400*/
@media screen and (max-width: 400px) {
    #feuille {
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .flipper {
        width: 75px;   
        height: 75px;
        float: right;
    }  
    #aside {
        width: initial
    }
    #nom-mobile{
        display: inherit;
        font-size: 2em;
    }
    #job-mobile{
        display: initial;
        font-size: 1.2em;
    }
    #nom-et-job {
        display: none;
    }
    #age,#permis {
        font-size: 1em;
    }
}







