
/** Page complète */

body {
    /*background-image: url(../images/background-bois.avif);*/
    /*color: black;*/
    background-image: url(../images/bureau5.avif) ;
    background-size: cover ;
    text-align: center;  
}

/** CV */

#feuille {
    /*background-image: url(../images/background-papier.avif);*/
    background-color: #2F403C;
    width: 53%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;   
    margin-bottom: 3em;
    box-shadow: 0px 0px 20px 2px black;
    display: flex;
    flex-direction: row;
    text-align: left;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover  {
    color: rgb(76, 76, 243);
}

section {
    padding: 1em;
}

/** Partie de gauche du CV */

#aside {
    background-color: white;
    height: inherit;
    width: 30%;
    color: #2F403C;
    padding: 1em;
}

#photo {
    background-image: url(../images/laurent.png);
    background-color: #2F403C;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 170px;   
    height: 170px;
    border: 4px solid yellow;
    border-radius: 100%;
    margin: 1em auto;
}   

#photo-dessin {
    display: none;
}

#aside h2 {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 0.9em;
}

#aside section {
    padding: 0.9em;
}

/** Partie de droite du CV */

#droite-du-cv {
    color: white;
    padding: 1.5em;
}

#nom {
    color: yellow;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.2em;
}

#job {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

#nom-et-job {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    border-bottom: 1px solid yellow;
}

main h2 {
    color: yellow;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1em;
}

#projet {
    padding-top: 2em;
    text-align: justify;
}

.parcours {
    font-weight: bold;
    text-transform: uppercase;
}

#criom,#dermeo,#iee,#lea {
    padding-top: 1em;
}


/*Version papier manuscrit*/
/*body {
    background-image: url(../images/background-bois.avif);
    color: black;
}

#feuille {
    background-image: url(../images/background-papier.avif);
    box-shadow: 0px 0px 40px 6px black;
}*/


/* @media screen and (max-width: 900px) {

    #feuille {
        width: 70%;
    }
    #photo {
        width: 60%;
    }
} */



