body {
    background-color: #101822;
    color: white;
    text-align: center;
}

header {
    background-color: #1B2838;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em;
    width: 20%;
    display: block;
    margin: 1.5em auto;
    border: 1px solid lightblue;
    filter: drop-shadow(0 0 0.35em #4d709b);
}

#nom {
    font-size: 1.8em;
}


a {
    color: inherit;
}

a:hover  {
    color: blue;
}

#parcours-professionnel {
    background: #1B2838;
    border: 1px solid lightblue;
    border-radius: 2%;
    width: 30%;
    padding-bottom: 1.5em;
    margin: 1.5em;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 0.35em #4d709b);
} 

#contacts {
    background: #1B2838;
    border: 1px solid lightblue;
    border-radius: 2%;
    width: 30%;
    padding-bottom: 1.5em;
    margin: 1.5em;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 0.35em #4d709b);
}

.jobs-précédents {
    padding: 1em;
}

h2 {font-size: 1.5em;
    padding: 1em;
}

h3 {
    font-size: 1.1em;
    padding: 0.5em;
    text-transform: uppercase;
}

.poste-chez-esprit {
    padding: 0.5em;
    line-height: 1.3em;
}



@media screen and (max-width: 900px) {
    
    header {
        width: 50%;

    }


    #parcours-professionnel {
        
        width: 70%;

    } 
    
    #contacts {

        width: 70%;

    }

}