body {
    background-image: url(../images/photo-1571647520939-45c81309ba91.avif);
    color: black;
    text-align: center;
}
div {
    background-image: url(../images/photo-1603484477859-abe6a73f9366.avif);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;   
    margin-bottom: 4em
}


header {
    ;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em;
    display: block;
    margin: 1.5em auto;
    
    
}

#nom {
    font-size: 1.8em;
}


a {
    color: inherit;
}

a:hover  {
    color: blue;
}

#parcours-professionnel {
    
    padding-bottom: 1.5em;
    margin: 1.5em;
    margin-left: auto;
    margin-right: auto;
    
} 

#contacts {
    
    padding-bottom: 1.5em;
    margin: 1.5em;
    margin-left: auto;
    margin-right: auto;
    
}

.jobs-précédents {
    padding: 1em;
}

h2 {font-size: 1.5em;
    padding: 1em;
}

h3 {
    font-size: 1.1em;
    padding: 0.5em;
    text-transform: uppercase;
}

.poste-chez-esprit {
    padding: 0.5em;
    line-height: 1.3em;
}



@media screen and (max-width: 900px) {

    div {
        width: 70%;
    }

}