/**===========================================*/
/**                Bouton Switch              */
/**===========================================*/

.switch-holder {
  display: flex;
  margin: 1rem auto;
  width: 15%;
  height: 3rem;
  padding: 1rem 1rem;
  box-shadow: ;
  align-items: center;
  background-image: url(../images/plaque-or.png);
  background-size: cover;
  background-position: center;
  font-family: 'Playball';
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 4px black;
}

.switch-label {
  padding: 0 1.5rem 0 1rem;
}

.switch-label i {
  margin-right: 1rem;
}

.switch-toggle {
  height: 80%;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .6),
        inset 10px 10px 10px rgba(0, 0, 0, .25);
}

.switch-toggle input[type="checkbox"]+label::before {
  position: absolute;
  content: 'OFF';
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: darkslategray;
  box-shadow: -3px -3px 5px black,
        3px 3px 5px black;
  transition: .3s ease-in-out;
  color: white;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
  left: 50%;
  content: 'ON';
  color: white;
  background-color: darkslategray;
  box-shadow: -3px -3px 5px black,
        3px 3px 5px black;
}

/**===========================================*/
/**               Media Queries               */
/**===========================================*/

/* width 1400 --> 1500*/
@media screen and (min-width: 2401px) and (max-width: 2600px) {
  .switch-holder {
    width: 10%;
  }
}

/* width 1400 --> 1500*/
@media screen and (min-width: 1401px) and (max-width: 1500px) {
  .switch-holder {
    width: 20%;
  }
}

/* width 1330 --> 1399*/
@media screen and (min-width: 1301px) and (max-width: 1400px) {
  .switch-holder {
    width: 20%;
  }
}

/* width 1101 --> 1329*/
@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .switch-holder {
    width: 23%;
  }
}

/* width 1101 --> 1329*/
@media screen and (min-width: 1101px) and (max-width: 1200px) {
  .switch-holder {
    width: 25%;
  }
}

/* width 1101 --> 1329*/
@media screen and (min-width: 1001px) and (max-width: 1100px) {
  .switch-holder {
    width: 25%;
  }
}

/* width 901 --> 1100*/
@media screen and (min-width: 901px) and (max-width: 1000px) {
  .switch-holder {
    width: 30%;
  }
}

/* width 901 --> 1100*/
@media screen and (min-width: 801px) and (max-width: 900px) {
  .switch-holder {
    width: 35%;
  }
}

/* width 601 --> 900*/
@media screen and (min-width: 701px) and (max-width: 800px) {
  .switch-holder {
    width: 35%;
  }
}

/* width 601 --> 900*/
@media screen and (min-width: 601px) and (max-width: 700px) {
  .switch-holder {
    width: 50%;
  }
}

/* width 401 --> 600*/
@media screen and (min-width: 501px) and (max-width: 600px) {
  .switch-holder {
    width: 55%;
  }
}

/* width 401 --> 600*/
@media screen and (min-width: 401px) and (max-width: 500px) {
  .switch-holder {
    width: 60%;
  }
}

/* width 0 --> 400*/
@media screen and (max-width: 400px) {
  .switch-holder {
    width: 80%;
  }
}